<div class="profileInfoCard">
    <div class="profileInfo__text">
        <h2 class="profileInfo__title">Name: <h2 class="profileInfo__username">Name</h2></h2>
        <h2 class="profileInfo__title">Username: <h2 class="profileInfo__username">Username</h2></h2>
        <h2 class="profileInfo__title">Contact: <h2 class="profileInfo__username">Info</h2></h2>

    </div>
    {% with name="Edit Profile" classes="btn btn--editProfile" type="" %}
        {% include "components/buttonComponent.html"  %}
    {% endwith %}
</div>