{% load static %}

<div class="projectCard">
    <div class="project__text">
        <h2 class="projectCard__title"><a href="{% url 'project-page' id %}">{{ name }}</a></h2>
        <h2 class="projectCard__description">{{ desc }}</h2>
    </div>

    {% if project.profile.user != profile.user %}
        {% with name="Rate this project" classes="btn btn--rate" type="" click=""%}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}

        {% with name="Add to favorites" classes="btn btn--favorite" type="" click="" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    {% endif %}
    
</div>