{% load static %}

<div class="sidePanel">
    <div class="logo">
        <img src="../../static/images/Logo2.png" height="100px" width="100px">
    </div>
    <h1 class="sidePanel__links"><a style="font-family: Cinzel" href="/">Home</a></h1>
    <h1 class="sidePanel__links"><a style="font-family: Cinzel" href="/profile">Profile</a></h1>
    <h1 class="sidePanel__links"><a style="font-family: Cinzel" href="/create-project">Create a Project</a></h1>
    <h1 class="sidePanel__links"><a style="font-family: Cinzel;color: orange;" href="/logout">Logout</a></h1>
</div>