{% extends "base.html" %}

<!-- Title -->
{% block title %}About Us{% endblock title %}

{% block content %}

<div style="margin:0 0 0 5%;" class="aboutUs">
  <h1 style="font-family: 'Gill Sans'">About Us</h1>
  <a style="font-family: 'Times New Roman'; font-size: 18px;">In this section talk a little bit about us and about the project, its aim and maybe functionality too....</a>
  <h3 style="font-family: 'Gill Sans'">Contact:</h3>
  <a style="font-family: 'Times New Roman'; font-size: 15px;">example@email.com</a>
</div>
  
{% endblock content %}