{% extends "base.html" %}

<!-- Title -->
{% block title %}About Us{% endblock title %}

{% block content %}

<div class="aboutUs">
  <h1 style="font-family: Lora">About Us</h1>
  <a style="font-family: Karla;font-size:medium; font-size: 16px;">
    Tech Hunt is a project we created, so that you can create many more. Our mission is to provide users with a 
    platform where they can come together to combine their skills and creativity, to create all kinds of projects.
    As students in the computer science field, we are well aware of how overwhelming it can get when trying to
    plan and develop projects, which is why we are here to relieve some of that stress. Our team aims to help you 
    get you get started, by providing you with a method to build/join a team that shares your interests.</a>
  <h3 style="font-family: Lora">Meet The Team:</h3>
  {% with name="Aidan Traboulay" github="//github.com/aidantrabs" linkedin="" %}
    {% include "components/teamMemberComponent.html" %}
  {% endwith %}
  {% with name="Dhavani Patel" github="//github.com/dhav15" linkedin="" image="../static/images/dhavani.jpeg" %}
    {% include "components/teamMemberComponent.html" %}
  {% endwith %}
  {% with name="Jon O'Brien" github="//github.com/jonobrien99" linkedin="" %}
    {% include "components/teamMemberComponent.html" %}
  {% endwith %}
  {% with name="Mobina Tooranisama" github="//github.com/MobinaToorani" linkedin="" %}
    {% include "components/teamMemberComponent.html" %}
  {% endwith %}
</div>
  
{% endblock content %}