{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Karla">
</head>
<body>
    <div class="siteContainer">
        <!-- Side Panel -->
        {% include "components/sidePanelComponent.html" %}
        <!-- End of Side Panel -->

        <!-- Main Page Content -->
        <div class="main">
            <div class="topBar">
                {% include "components/searchBarComponent.html" %}
                {% include "components/profileComponent.html" %}
            </div>
            <div class="pageContent">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <!-- End of Main Page Content -->

        <!-- Footer -->
        <div class="footer">
            <!-- Links to other Pages ... Need to update with django references to links-->
            <h1 class="footer__links"><a style="font-family: Karla;font-size:small;" href="/about-us">About</a></h1>
            <!-- <h1 class="footer__links"><a href="">The Team</a></h1> -->
            <h1 style="font-family: Karla;font-size:small;" class="footer__text">Made with Love LCS Pod2</h1>
        </div>
        <!-- End of Footer -->
    </div>
    
</div>
</body>
</html>
