{% extends "base.html" %}

<!-- Title -->
{% block title %}Create Project{% endblock title %}

<!-- Main Page Content -->
{% block content %}

<div class="createproject">
    <h1>Create Project</h1>
    <div class="contentContainer contentContainer--createproject">
        <h2>Title <input type="text" class="inputField inputField--title"></h2>
        <h2>Description <input type="text" class="inputField inputField--description"></h2>
        <h2>Team Members <input type="text" class="inputField inputField--members"></h2>
        <div class="contentContainer contentContainer--imageButton">
            <input type="file" id="uploadImg" hidden>
            <label for="uploadImg">Add Image</label>
        </div>
        <div class="contentContainer contentContainer--image">
            <img src="" alt="Image Preview" class="image-preview">
            <span class="image-preview__default-text">Image Preview</span>
        </div>
        {% with name="Create" classes="btn btn--create" type="submit" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </div>
</div>

{% endblock content %}