{% extends "base.html" %}

<!-- Title -->
{% block title %}Create Project{% endblock title %}

<!-- Main Page Content -->
{% block content %}

<div class="createproject">
    <h1 style="font-family: Lora;">Create Project</h1>
    <div class="contentContainer contentContainer--createproject">
        <form action="" method="POST">
            {% csrf_token %}
            <h2 style="font-family:Karla;font-size:medium;" for="name">Title <input type="text" class="inputField inputField--title" name="name" required></h2>
            <h2 style="font-family:Karla;font-size:medium;" for="description">Description <textarea class="textarea--description" name="description" required></textarea></h2>
            <h2 style="font-family:Karla;font-size:medium;" for="team_members">Team Members <input type="text" class="inputField inputField--members" name="team_members"></h2>
            <h2 style="font-family:Karla;font-size:medium;" for="tags">Tags <input type="text" class="inputField inputField--tags" name="tags"></h2>
            <div class="contentContainer contentContainer--imageButton">
                <input id="uploadImg" name="projectImg" type="file" accept="image/*" onchange="document.getElementById('image').src=window.URL.createObjectURL(this.files[0])" hidden>
                <label class="uploadImgBtn" for="uploadImg" style="font-family: Karla;font-size: small;" name="project_image">Add Image</label>
            </div>
            
            <div class="contentContainer contentContainer--image" id="imagePreview">
                <img id="image" width="100%" height="100%" style="object-fit:cover; border-radius: 18px;">
            </div>
            
            {% with name="Create" classes="btn btn--create" type="submit" click="" %}
                {% include "components/buttonComponent.html"  %}
            {% endwith %}
        </form>
    </div>
</div>

{% endblock content %}