{% extends "base.html" %}

<!-- Title -->
{% block title %}Edit Profile{% endblock title %}

<!-- Main Page Content -->
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="editProfile">
            <h1 style="font-family: Lora;">Edit Profile</h1>
            <div class="contentContainer contentContainer--editProfile">
                <div class="firstname">
                    <h2 style="font-family:Karla;font-size:medium;" for="first_name">First Name</h2>
                    {% if profile.first_name %}
                        <input type="text" class="inputField inputField--firstname" name="first_name" value="{{ profile.first_name }}">
                    {% else %}
                        <input type="text" class="inputField inputField--firstname" name="first_name" placeholder="Enter first name">
                    {% endif %}
                </div>
                <div class="lastname">
                    <h2 style="font-family:Karla;font-size:medium;" for="last_name">Last Name</h2>
                    {% if profile.last_name %}
                        <input type="text" class="inputField inputField--lastname" name="last_name" value="{{ profile.last_name }}">
                    {% else %}
                        <input type="text" class="inputField inputField--lastname" name="last_name" placeholder="Enter last name">
                    {% endif %}
                </div>
                <div class="username">
                    <h2 style="font-family:Karla;font-size:medium;" for="username">Username</h2>
                    <input type="text" class="inputField inputField--username--editProfile" name="username" value="{{ profile.user }}">
                </div>
                <div class="email">
                    <h2 style="font-family:Karla;font-size:medium;" for="email">Email</h2>
                    {% if profile.contact_email %}
                        <input type="text" class="inputField inputField--email--editProfile" name="email" value="{{ profile.contact_email }}">
                    {% else %}
                        <input type="text" class="inputField inputField--email--editProfile" name="email" placeholder="Enter email">
                    {% endif %}
                </div>
                <div class="bio">
                    <h2 style="font-family:Karla;font-size:medium;" for='bio'>Bio</h2>
                    {% if profile.bio %}
                        <textarea class="textarea--bio" name="bio" >{{ profile.bio }}</textarea>
                    {% else %}
                        <textarea class="textarea--bio" name="bio" placeholder="Enter bio"></textarea>
                    {% endif %}
                </div>
            </div>
            {% with name="Save" classes="btn btn--update" type="submit" click=""%}
                {% include "components/buttonComponent.html"  %}
            {% endwith %}
        </div>
    </form>
    <div class="profileImgContainer">
        <div class="profileImg" style="background-image:url('../static/images/placeholder.png')"></div>
        <input type="file" id="uploadProfileImg" hidden>
        <label for="uploadProfileImg" class="btn btn--editProfileImage">Edit Image</label>
        
    </div>
{% endblock content %}