{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}:){% endblock title %}</title>
    <link rel="shortcut icon" href="../static/images/Logo2.png">
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Karla">
</head>
<style>
    body {
            background-image: linear-gradient(#6000fe, #808080);
            background-size: 100% 200%;
        }
</style>
<div class="landingBackground">
    <img style="width: 250px; margin: 2% 0 0 4%;" src="../static/images/Logo.png">
    <div class="landingInfo">
        <h1 style="font-size:xx-large;font-family: Lora;color: #FFFFFF;font-style: italic;">A CATCHY SENTENCE HERE</h1>
        <a style="font-size:large;font-family: Karla;color: #868686;font-weight: lighter;">
            Tech Hunt gives you chance to connect with the people worldwide, to collaborate on projects they have created and/or you have created, in a quick and simple way. Find the right projects and find the right people.
        </a>
        {% with name="Start Now" classes="btn btn--landingPage" type="submit" click="location.href='/register'" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </div>
    <img style="position:absolute;right: 0;bottom:0;margin: auto 5% 130px auto;" src="../static/images/landing-page-pic.png">
    
</div>
<div class="landingInfo"></div>
<div class="landingInfo"></div>
<!--<img src="../static/images/LandingBackground.png">-->
</html>