{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock title %}</title>
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<div class="logo logo--login">
    logo here
</div>
<div class="contentContainer contentContainer--login">
    <form method="POST">
        {% csrf_token %}
        <h1 style="color: #0098fe;text-align: center;font-size:xx-large;">Login</h1>
        <input type="text" class="inputField inputField--username" placeholder="Username" name="username">
        <input type="password" class="inputField inputField--password" placeholder="Password" name="password">

        {% with name="Login" classes="btn btn--loginPage" type="submit" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </form>
    {% with name="Sign Up" classes="btn btn--loginPage" type="" click="window.location='/register'" %}
        {% include "components/buttonComponent.html"  %}
    {% endwith %}
</div>
</html>