{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock title %}</title>
    <link rel="shortcut icon" href="../static/images/Logo2.png">
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Karla">
</head>
<style>
    body {
            background-image: linear-gradient(#6000fe, #808080);
        }
</style>
<img style="display:block;margin-left: auto;margin-right: auto;padding-top: 50px;" src="../static/images/Logo.png">
<div class="contentContainer contentContainer--login">
    <form method="POST">
        {% csrf_token %}
        <h1 style="color: #0098fe;text-align: center;font-size:xx-large;font-family: Lora;">Login</h1>
        <input type="text" class="inputField inputField--username" placeholder="Username" name="username" required>
        <input type="password" class="inputField inputField--password" placeholder="Password" name="password" required>

        {% with name="Login" classes="btn btn--loginPage" type="submit" click="" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </form>
    {% with name="Sign Up" classes="btn btn--loginPage" type="" click="window.location='/register'" %}
        {% include "components/buttonComponent.html"  %}
    {% endwith %}
</div>
</html>