* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.site-container {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    /* background-color: rgb(218, 103, 141); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    height: 60vh;
    width: 400px;
    /* background-color: rgb(32, 148, 12); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 10px;
    margin-bottom: 30px;
}

.input-field {
    font-size: 15px;
    margin: 0 0 10px 0;
    border-radius: 20px;
}

.submit-btn {
    padding: 10px;
    font-size: 14px;
    color: black;
    background: white;
    border-radius: 15px;
}