/*code should be in static/main.css
  this is for testing
*/

/*Site-wide styling*/
* {
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  font-size: 14px;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
}

.site-container {
  width: 100%;
  height: fit-content;
  display: flex;
}

.left {
  width: 20%;
  height: 100%;
  float: left;
  background-color: #f4f4f4;
  border-collapse: collapse;
}

/* Components*/
.contentBox {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: solid #eeeeee 1px;
  overflow-x: auto;
}

.projectCard {
}

.inputField {
}

.button1 {
  width: 200px;
  height: 50px;
  padding: 1%;
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: 2px solid #0098fe;
  background-color: #0098fe;
  border-radius: 21px;
}

.button2 {
}

.button3 {
}

.button4 {
}

.tag {
}

.logo {
  float: left;
  width: 70px;
  height: 70px;
  background-color: #0098fe;
  margin-top: 35px;
  margin-left: 40px;
}

/*Component modifiers*/
.contentBox--login {
  width: 500px;
  height: 300px;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0098fe;
  border: solid #0098fe 4px;
}

.inputField--login {
  width: 70%;
  height: 15%;
  margin: 0 0 20px 0;
  font-size: 23px;
  color: #0098fe;
  border-radius: 20px;
  border: solid #0098fe 3px;
}

.inputField--login::placeholder {
  opacity: 1;
  text-align: center;
}

.button1--submit {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 15px;
}
