/*code should be in static/main.css
  this is for testing
*/

/*Site-wide styling*/
* {
  box-sizing: border-box;
  font-family: "Inter";
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.siteContainer {
  width: 100%;
  height: fit-content;
  min-height: 90%;
  display: flex;
  background-color: #ffffff;
}
/*End*/

/*Base elements*/
.sidePanel {
  width: 18%;
  height: 90vh;
  padding: 2% 2%;
  position: fixed;
  float: left;
  background-color: #eeeeee;
  border-collapse: collapse;
}

.sidePanel__links {
  font-weight: normal;
}

.sidePanel__links a {
  color: #000000;
}

.sidePanel__links:hover {
  opacity: 70%;
}

.main {
  height: fit-content;
  width: 82%;
  flex-grow: 1;
}

.footer {
  width: 100%;
  height: 10%;
  max-height: 10%;
  position: fixed;
  bottom: 0;
  color: #ffffff;
  background-color: #6000fe;
}

.footer__links {
  width: fit-content;
  margin: auto 4% auto 0;
  font-weight: normal;
  position: relative;
  left: 3%;
}

.footer__links a {
  color: #ffffff;
}

.footer__links:hover {
  opacity: 70%;
}

.footer__text {
  margin: auto 2% auto auto;
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}
/*End*/

/* Components*/
.logo {
  /*this is temporary until we have a design for the logo*/
  width: 100px;
  height: 100px;
  margin: 10px 0 60px 10px;
  background-color: #0098fe;
}

/*Component modifiers*/
