{% extends "base.html" %}

<!-- Title -->
{% block title %}Profile{% endblock title %}

<!-- Main Page Content -->
{% block content %}
<div class="yourprojects">
    <h1 style="font-family: Cinzel;">Your Projects</h1>
    <div class="contentContainer contentContainer--yourProjects--profile">
        {% if projects %}
            {% for project in projects %}
                {% with name=project.name desc=project.description %}
                    {% include "components/projectCardComponent.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="yourprojects--noProjects">
              <h1 style="font-family: fantasy;">No Projects?</h1>
              {% with name="Create a project" classes="btn" type="" click="location.href='/create-project'" %}
                {% include "components/buttonComponent.html"  %}
              {% endwith %}
            </div>
        {% endif %}
    </div>
</div>
<div class="favourites">
    <h1 style="font-family: Cinzel;">Profile Info</h1>
    <div class="contentContainer contentContainer--profileInfo--profile">
        {% include "components/profileInfoComponent.html" %}
    </div>
    <h1 style="font-family: Cinzel;">Favourites</h1>
    <div class="contentContainer contentContainer--favourite--profile">
        {% if favorites %}
            {% for project in favorites %}
                {% with name=project.project.name desc=project.project.description %}
                    {% include "components/projectCardComponent.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="noFavorites">
                <h1 style="font-family: fantasy;">No Favorites</h1>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}