{% extends "base.html" %}

<!-- Title -->
{% block title %}Profile{% endblock title %}

<!-- Main Page Content -->
{% block content %}
<div class="yourprojects">
    <h1 style="font-family: Cinzel;">Your Projects</h1>
    <div class="contentContainer contentContainer--yourProjects--profile">
      {% include "components/projectCardComponent.html" %}
    </div>
</div>
<div class="favourites">
    <h1 style="font-family: Cinzel;">Profile Info</h1>
    <div class="contentContainer contentContainer--profileInfo--profile">
        {% include "components/profileInfoComponent.html" %}
    </div>
    <h1 style="font-family: Cinzel;">Favourites</h1>
    <div class="contentContainer contentContainer--favourite--profile">
        {% include "components/projectCardComponent.html" %}
    </div>
</div>
{% endblock content %}