{% extends "base.html" %}

<!-- Title -->
{% block title %}Profile{% endblock title %}

<!-- Main Page Content -->
{% block content %}
<div class="yourprojects">
    <h1 style="font-family: Lora;">Your Projects</h1>
    <div class="contentContainer contentContainer--yourProjects--profile">
        {% if projects %}
            {% for project in projects %}
                {% if forloop.counter|divisibleby:2 %}
                        {% with name=project.name desc=project.description id=project.id %}
                            {% include "components/projectCardComponent.html" %}
                        {% endwith %}
                    </div>
                {% else %}
                    <div class="project__rows">
                        {% with name=project.name desc=project.description id=project.id %}
                            {% include "components/projectCardComponent.html" %}
                        {% endwith %}
                {% endif %}
            {% endfor %}
            {% if popular_projects|length|divisibleby:2  %}
            {% else %}
                </div>
            {% endif %}
        {% else %}
            <div class="yourprojects--noProjects">
              <h1 style="font-family: Karla;font-size: large;">No Projects?</h1>
              {% with name="Create a project" classes="btn" type="" click="location.href='/create-project'" %}
                {% include "components/buttonComponent.html"  %}
              {% endwith %}
            </div>
        {% endif %}
    </div>
</div>
<div class="favourites">
    <h1 style="font-family: Lora;">Profile Info</h1>
    <div class="contentContainer contentContainer--profileInfo--profile">
        {% include "components/profileInfoComponent.html" %}
    </div>
    <h1 style="font-family: Lora;">Favourites</h1>
    <div class="contentContainer contentContainer--favourite--profile">
        {% if favorites %}
            {% for project in favorites %}
                {% with name=project.project.name desc=project.project.description %}
                    {% include "components/projectCardComponent.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="noFavorites">
                <h1 style="font-family: Karla;font-size: large;">No Favorites</h1>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}