{% extends "base.html" %}

<!-- Title -->
{% block title %}{{ project.name }}{% endblock title %}

<!-- Main Page Content -->
{% block content %}

{% if project.project_image %}
    <div style="background-image: url('{{project.project_image.url}}');" class="contentContainer contentContainer--individualproject--image">
        <div class="contentContainer contentContainer--projectTitle">
            <a style="font-family: Lora;color: #ffffff;font-size: xx-large;font-weight: bold;">{{ project.name }}</a>
        </div>
    </div>
{% else %}
    <div style="background-image: url('../static/images/LandingBackground.png');" class="contentContainer contentContainer--individualproject--image">
        <div class="contentContainer contentContainer--projectTitle">
            <a style="font-family: Lora;color: #ffffff;font-size: xx-large;font-weight: bold;">{{ project.name }}</a>
        </div>
    </div>
{% endif %}
<div class="members">
    <h2 style="font-family: Lora;">Team Members</h2>
    <div class="contentContainer contentContainer--individualproject--members"></div>
</div>

<div class="description">
    <h2 style="font-family: Lora;">Description</h2>
    <div class="contentContainer contentContainer--individualproject--description">
       {{ project.description }}
    </div>
</div>

<div class="individualpage--bottom">
    <h2 style="font-family: Lora;">Tags</h2>
    <div class="contentContainer contentContainer--tags--individualproject">
        {% if tags %}
            {% for tag in project.tags %}
                {% with name=tag.name %}
                    {% include "components/tagComponent.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
                <div class="noTags">
                    <h3 style="font-family: Karla;font-size:small;">No Tags available</h3>
                </div>
        {% endif %}
    </div>
    {% if project.profile.user == profile.user %}
        <a class="btn btn--deleteProject" href="{% url 'delete-project' project.id %}">Delete Project</a>
    {% endif %}
</div>

<div class="commentSection">
    <h2 style="font-family: Lora;font-weight: lighter;color: #3f3f3f;">Comments</h2>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="contentContainer contentContainer--comments">
            <textarea class="textarea--commentBox" name="text" placeholder="Add a comment..."></textarea>
            {% with name="Post" classes="btn btn--postComment" type="" click="" %}
                {% include "components/buttonComponent.html"  %}
            {% endwith %}
            <br><br>
            {% if not project.comments.all %}
                No Comments
            {% else %}
                {% for comment in project.comments.all %}
                    <strong style="font-family: Karla;font-size: medium;">{{ comment.profile }}</strong> - {{ comment.date_created }}<br>
                    {{ comment.text }}
                    <br><br>
                {% endfor %}
            {% endif %}
        </div>
    </form>
    <hr>
</div>

{% endblock content %}