{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sign Up{% endblock title %}</title>
    <link rel="shortcut icon" href="../static/images/Logo2.png">
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Karla">
</head>
<style>
    body {
            background-image: linear-gradient(#6000fe, #808080);
        }
</style>
<img style="display:block;margin-left: auto;margin-right: auto;padding-top: 50px;" src="../static/images/Logo.png">
<div class="contentContainer contentContainer--register">
    <form method="POST">
        {% csrf_token %}
        <h1 style="color: #0098fe;text-align: center;font-size:xx-large;font-family: Lora;" for="name">Sign Up</h1>
        <input type="text" class="inputField inputField--email" placeholder="Email" name="email" required>
        <input type="text" class="inputField inputField--username--register" placeholder="Username" name="username" required>
        <input type="password" class="inputField inputField--password--register" placeholder="Password" name="password1" required>
        <input type="password" class="inputField inputField--password--register" placeholder="Confirm Password" name="password2" required>

        {% with name="Sign Up" classes="btn btn--register" type="submit" click="" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
        <a style="color: #808080;font-family: Karla;font-size: medium;">Already have an account?
            <a style="color: #0098fe;font-family: Karla;font-size: medium;" href="../login">Login</a>
        </a>
    </form>
</div>
    
</div>
</html>