{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sign Up{% endblock title %}</title>
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<style>
    body {
            background-image: linear-gradient(#6000fe, #808080);
        }
</style>
<div class="logo logo--login">
</div>
<div class="contentContainer contentContainer--register">
    <form method="POST">
        {% csrf_token %}
        <h1 style="color: #6000fe;text-align: center;font-size:xx-large;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Sign Up</h1>
        <input type="text" class="inputField inputField--email" placeholder="Email" name="email">
        <input type="text" class="inputField inputField--username--register" placeholder="Username" name="username">
        <input type="password" class="inputField inputField--password--register" placeholder="Password" name="password1">
        <input type="password" class="inputField inputField--password--register" placeholder="Confirm Password" name="password2">
        
        {% with name="Sign Up" classes="btn btn--register" type="submit" click="" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </form>
</div>
    
</div>
</html>