{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Welcome | Tech Hunt {% endblock title %}</title>
    <link rel="shortcut icon" href="../static/images/Logo2.png">
    <!--Link CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Karla">
</head>
<style>
    body {
            background-color: #000000;
        }
</style>
<div class="landingBackground">
    <img style="width: 250px; margin: 2% 0 0 4%;" src="../static/images/Logo.png">
    <div class="landingInfo">
        <h1 style="font-size:xx-large;font-family: Lora;color: #FFFFFF;">Welcome!</h1>
        <a style="font-size:large;font-family: Karla;color: #868686;font-weight: lighter;">
            Tech Hunt gives you chance to connect with the people worldwide, to collaborate on projects they have created and/or you have created, in a quick and simple way. Find the right projects and find the right people.
        </a>
        {% with name="Start Now" classes="btn btn--landingPage" type="submit" click="location.href='/register'" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </div>
    <img style="position:absolute;right: 0;bottom:0;margin: auto 5% 130px auto;" src="../static/images/landing-page-pic.png">
</div>
<div class="landingDetails">
    <div style="float:left;" class="landingDetails landingDetails--img">
        <img src="../static/images/landing-page-search.png" width="45%">
    </div>
    <div style="float:right;" class="landingDetails landingDetails--text">
        <h1 style="color: #ffffff;font-family: Lora;font-size: xx-large;">Start the hunt,<br>search for the right projects!</h1>
        <a style="font-size:large;font-family: Karla;color: #868686;font-weight: lighter;">
            Find projects of your interest with just a click. Go ahead and give it a try. Look for projects that <span style="color: #0098feb4;font-family: Karla;">you</span> want to work on.
        </a>
        {% with name="Start Now" classes="btn btn--landingPage" type="submit" click="location.href='/register'" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
</div>
<div class="landingDetails">
    <div style="float:left;" class="landingDetails landingDetails--text">
        <h1 style="color: #ffffff;font-family: Lora;font-size: xx-large;">Don't stop.<br>Search for the right people!</h1>
        <a style="font-size:large;font-family: Karla;color: #868686;font-weight: lighter;">
            Easily lets you connect with people who share the same interests as you. Join their projects and let them join yours. Work together to make it come to life.
        </a>
        {% with name="Start Now" classes="btn btn--landingPage" type="submit" click="location.href='/register'" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </div>
    <div style="float:right;" style="margin: 0;" class="landingDetails landingDetails--img">
        <img style="border-radius: 50%;" src="../static/images/landing-page-connect.jpeg" width="70%">
    </div>
</div>
<div class="landingDetails">
    <div style="float:left;" class="landingDetails landingDetails--img">
        <img src="../static/images/landing-page-create.png" width="70%">
    </div>
    <div style="float:right;" class="landingDetails landingDetails--text">
        <h1 style="color: #ffffff;font-family: Lora;font-size: xx-large;">Didn't find what you want?<br>Create it yourself!</h1>
        <a style="font-size:large;font-family: Karla;color: #868686;font-weight: lighter;">
            Why wait for someone else? <span style="color: #0098feb4;font-family: Karla">Create</span> your own projects. <span style="color: #0098feb4;font-family: Karla">Create</span> your own teams.
            If you have an idea, make it happen.
        </a>
        {% with name="Start Now" classes="btn btn--landingPage" type="submit" click="location.href='/register'" %}
            {% include "components/buttonComponent.html"  %}
        {% endwith %}
    </div>
</div>
<!--<img src="../static/images/LandingBackground.png">-->
</html>